.notfound-container {
    width: 900px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 300px;

}

.notfound-text_container {
    margin-left: 100px;
}