.notfound-container {
    width: 900px;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notfound-text_container {
    margin-left: 100px;
}

.t404 {
    font-size: 72px;
}

.notfound-title {
    font-size: 32px;
}

.notfound-text {
    font-size: 18px;
    margin: 20px 0;
}

.btn-404 {
    border: 2px solid rgb(0, 225, 255);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
}