.table-container {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
}

.table-header {
    display: flex;
    margin: auto;
    font-weight: bold;
    width: 1100px;
    justify-content: space-around;

    & div {
        width: 90px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}