.table-container {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
}

.table-header {
    display: flex;
    margin: auto;
    font-weight: bold;

    & div {
        width: 90px;
        text-align: center;
        margin: 20px 100px 20px 70px;
    }
}